body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Light gray background */
    color: #444; /* Dark gray text color */
}

header {
    background-color: #2ecc71; /* Emerald green header background */
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2, h3 {
    color: #555; /* Dark gray heading color */
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 20px;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #2ecc71; /* Emerald green project title */
}

.contact-info {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    nav li {
        width: 100%;
        text-align: center;
    }

    .project {
        padding: 10px;
    }
}
